*{
    box-sizing: border-box;
    font-family: 'Francois One', sans-serif;
    font-size: clamp(.95rem,3vw,2rem);
}
body{
    background-color:#F0F0F0;
}
.display{
    position: absolute;
    height: 80vh;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 7vh;
    background-color: #F0F0F0;
    border: 3px solid #3C486B;
    border-radius: 30px;
    color: #3C486B;
    padding-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
input{
    width: min(50vw,250px);
    border: 1px solid #F9D949;;
    border-radius: 5px;
    height: 1.6rem;
}
.hidden{
    display: none;
}
.board-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    width: min(85vw,85vh);
    height: min(85vw,85vh);

    gap: 1vw;
}
.space{
 background-color: rgb(0, 0, 0,.8);
 display: grid;
 justify-content: center;
 align-items: center;
 border-radius: 20px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: max(7vh,7vw);
    flex-basis:content;
}

.x-space{
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: #F45050;
    color: rgb(228, 228, 228);
}
.o-space{
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: #3C486B;
    color: rgb(228, 228, 228);
}
button{
    background-color: #3C486B;
    height: 50px;
    width: 250;
    border-radius: 20px;
    color: white;
    border: 0;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;

    
}
.header{
    font-family: 'Francois One', sans-serif;
    font-size: clamp(1.5rem,5vw,2.5rem);
    text-align: center;
    color: #3C486B;
    text-decoration: underline #F45050;

}


.space:hover{

    background-color: #F9D949;;
}

.launch-label::first-letter{
    font-size:160%;

}
.x-label::first-letter{
    color: #F45050;
}
.o-label::first-letter{
    color: #3C486B;
}
